<!DOCTYPE html>
<html ng-app="demoApp">

<head>
  <title>Angular Slideout Panel</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="release/js/angular-slideout-panel.min.js"></script>
  <script src="demo/demoApp.js"></script>
  <script src="demo/demoController.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
  <link rel="stylesheet" href="demo/styles.css">
  <link rel="stylesheet" href="release/css/angular-slideout-panel.min.css">
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</head>

<body>
  <header class="navbar navbar-static-top navbar-fixed-top navbar-default" id="top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#asp-navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <nav class="collapse navbar-collapse clearfix">
        <ul class="asp-navbar nav navbar-nav pull-left">
          <li>
            <a href="/">Angular Slideout Panel</a>
          </li>
          <li>
            <a href="#getting-started">Getting Started</a>
          </li>
          <li>
            <a href="#example">Example</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container clearfix">
    <div id="getting-started">
      <h2>Getting Started</h2>
      <p>
        <strong>1) Install via Bower</strong>
      </p>
      <pre>
        <code class="bash">
bower install angular-slideout-panel --save
        </code>
      </pre>
      <p>
        <strong>2) Add JS and CSS</strong>
      </p>
      <pre>
        <code class="bash">
&lt;script src="bower_components/angular-slideout-panel/release/js/angular-slideout-panel.min.js"&gt;&lt;/script&gt;

&lt;link rel="stylesheet" href="bower_components/angular-slideout-panel/release/css/angular-slideout-panel.min.css"&gt;
        </code>
      </pre>
      <p>
        <strong>3) Add Angular dependency</strong>
      </p>
      <pre>
        <code class="bash">
angular.module('demoApp', [
  'angular-slideout-panel'
]);
        </code>
      </pre>
    </div>
    <div id="example" ng-controller="demoController">
      <h2>Example</h2>
      <div class="demo-buttons clearfix">
        <button class="btn btn-default pull-left" ng-click="openPanelLeft()">
          Open a panel on left side
        </button>

        <button class="btn btn-default pull-right" ng-click="openPanelRight()">
          Open a panel on right side
        </button>
      </div>
      <div class="demo-tabs clearfix">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#markup" aria-controls="markup" role="tab" data-toggle="tab">
              Markup
            </a>
          </li>
          <li role="presentation">
            <a href="#javascript" aria-controls="javascript" role="tab" data-toggle="tab">
              Javascript
            </a>
          </li>
          <li class="pull-right">
            <a href="https://plnkr.co/edit/30HA7dmU5ycgRrMwovv9?p=preview" target="_blank" class="btn btn-primary">
              Edit in Plunker
            </a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="markup">
            <pre>
              <code class="html">
  &lt;div id="demo" class="container clearfix" ng-controller="demoController"&gt;
    &lt;div class="demo-buttons clearfix"&gt;
      &lt;button class="btn btn-default pull-left" ng-click="openPanelLeft()"&gt;
        Open a panel on left side
      &lt;/button&gt;

      &lt;button class="btn btn-default pull-right" ng-click="openPanelRight()"&gt;
        Open a panel on right side
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
              </code>
            </pre>
          </div>
          <div role="tabpanel" class="tab-pane" id="javascript">
            <pre>
              <code class="javascript">
  angular.module('demoApp', [
    'angular-slideout-panel'
  ]);

  angular.module('demoApp').controller('demoCtrl', [
    '$scope',
    'angularSlideOutPanel',
    function($scope, angularSlideOutPanel) {
      $scope.openPanelLeft = function() {
        angularSlideOutPanel.open({
          template: template,
          openOn: 'left',
          controller: [
            '$scope',
            'user',
            modalController
          ],
          resolve: {
            user: [
              function() {
                return {
                  firstName: 'Jerry'
                };
              }
            ]
          }
        });
      };

      $scope.openPanelRight = function() {
        var panelInstance2 = angularSlideOutPanel.open({
          template: template,
          openOn: 'right',
          controller: [
            '$scope',
            'user',
            modalController
          ],
          resolve: {
            user: [
              function() {
                return {
                  firstName: 'Jerry'
                };
              }
            ]
          }
        });

        panelInstance2.result
          .then(function(result) {
            console.log('panel was closed with result : ', result);
          }).catch(function(error) {
            console.log('panel was rejected with error : ', error);
          });
      };

      function modalController($scope, user) {
        $scope.closePanel = function() {
          $scope.$panelInstance.close('this is from the controller!!');
        };

        $scope.dismissPanel = function() {
          $scope.$panelInstance.dismiss('this is from the controller!!');
        };

        $scope.user = user;
      }
    }
  ]);
              </code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
