<!DOCTYPE html>
<html ng-app="demoApp">

<head>
  <title>Angular Slideout Panel</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="release/js/angular-slideout-panel.min.js"></script>
  <script src="demo/demoApp.js"></script>
  <script src="demo/demoController.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
  <link rel="stylesheet" href="demo/styles.css">
  <link rel="stylesheet" href="release/css/angular-slideout-panel.min.css">
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</head>

<body>
  <header class="navbar navbar-static-top navbar-default" id="top">
    <div class="container">
      <div class="navbar-header">
        <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#asp-navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <nav class="collapse navbar-collapse clearfix">
        <ul class="asp-navbar nav navbar-nav pull-left">
          <li>
            <a href="/">Angular Slideout Panel</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="demo" class="container clearfix" ng-controller="demoController">
    <div class="demo-buttons clearfix">
      <button class="btn btn-default pull-left" ng-click="openPanel1()">
        Open a panel on left side
      </button>

      <button class="btn btn-default pull-right" ng-click="openPanel2()">
        Open a panel on right side
      </button>
    </div>
    <div class="demo-tabs clearfix">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#markup" aria-controls="markup" role="tab" data-toggle="tab">
            Markup
          </a>
        </li>
        <li role="presentation">
          <a href="#javascript" aria-controls="javascript" role="tab" data-toggle="tab">
            Javascript
          </a>
        </li>
        <li class="pull-right">
          <a href="https://plnkr.co/edit/30HA7dmU5ycgRrMwovv9?p=preview" target="_blank" class="btn btn-primary">
            Edit in Plunker
          </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="markup">
          <pre>
            <code class="html">
            </code>
          </pre>
        </div>
        <div role="tabpanel" class="tab-pane" id="javascript">
          <pre>
            <code class="javascript">
function() {

}
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
